x-certbot-webroot: &certbot-webroot "/var/www/certbot"

x-certbot-volumes: &certbot-volumes
  - ./certbot/conf:/etc/letsencrypt
  - ./certbot/www:*certbot-webroot

services:
  nginx:
    image: nginx:alpine
    container_name: agu-tour-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./app:/usr/share/nginx/html
      - ./logs:/var/log/nginx
      - *certbot-volumes
    depends_on:
      - certbot

  certbot:
    image: certbot/certbot:latest
    container_name: agu-tour-certbot
    restart: unless-stopped
    volumes:
      - *certbot-volumes
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --webroot -w *certbot-webroot --quiet;
        sleep 12h;
      done"
